body {
    --accent-color: #3498DB;
    /* Example accent color */
    --background-color: #87CEEB;
    /* Example background color */
    --text-color: #2a4670ce;
    /* Example text color */
    --heading-color: #01497C;
    /* Example heading color */
    background-color: var(--background-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --cardwidth: 250px;
    --cardheight: 320px;
}



h1 {
    text-align: center;
    color: var(--heading-color);
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-box: center;

}

h2 {
    text-align: center;
    color: var(--accent-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

p {
    color: var(--text-color);
    font-size: 20px;
    line-height: 1.6;
    margin: 20px;
    text-align: center;
}

ul {
    color: var(--text-color);
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    margin: 20px;
}

li {
   text-align: center;
    margin-bottom: 10px;
    list-style-position: inside;
}
a {
    color: var(--accent-color);
}

button {
    background-color: var(--net-green);
    color: white;
}


.mask1 {
    width: stretch;
    height: 350px;
    overflow-y: scroll;
    background: url(image2.png)repeat;
        
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient (black, black);
}


.container {
    display: flex;
    justify-content: space-around;
    background-color: grey;

    padding: 0px;
    margin: 0px;
}

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    justify-content: center;
    background-color: var(--background-color);
}

.cardbox {
    position: relative;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    width: var(--cardwidth);
    height: var(--cardheight);
    background-color: grey;
    text-align: center;
}

.thecard {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.295);
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    text-align: center;
}

.thecard:hover {
    transform: rotateY(180deg);
}

.cardfront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.336);
    color: white;
    font-size: 300px;
}


.cardback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.336);
    color: white;
    transform: rotateY(180deg);
}

.cardtext {
    padding: 5px;
    font-family: system-ui;
    color: white;
    font-size: 15px;
}

.cardheader {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.navbar {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.navbarchildren {
    display: flex;
    flex-grow: 4;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
}


.backbutton {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
    color: var(--heading-color);
}